<nav class="navbar navbar-dark px-5">
  <a class="navbar-brand d-flex" href="#">
    <img src="../assets/icons/exasol.svg" height="16" class="d-inline-block align-top" alt="Exasol" />
  </a>

  <div class="btn-group" *ngIf="user">
    <button type="button" class="btn text-white dropdown-toggle" data-toggle="dropdown" data-display="static"
      aria-haspopup="true" aria-expanded="false">
      {{user?.name}}
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <button class="dropdown-item" type="button" (click)="logout()">
        Logout
      </button>
    </div>
  </div>
</nav>
