@import "_variables.scss";

.login {
  height: calc(100vh - 56px);

  &__form {
    margin-top: -56px;
    background: white;
    border-radius: $radius;
    box-shadow: $shadow-small;

    .form-control {
      background-color: $grey-50;
    }
  }

}
