@import "_variables.scss";

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
.text-primary {
  color: $navy-500 !important;
}

.text-secondary {
  color: $grey-50;
}

body {
  background-color: $grey-50;
}

.btn-primary {
  background-color: $green-500;
  color: white;
  outline: none;
  border: none;

  &:hover,
  &:active,
  &:focus,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus {
    background-color: $green-500;
    border: none;
    box-shadow: none;
  }
}

.btn,
.btn:active,
.btn:active,
.btn-focus,
.btn:not(:disabled) {
  outline: none;
  box-shadow: none !important;
  border-radius: $radius !important;
}

input:focus,
input:active,
.form-control:focus,
.form-control:active {
  border: 1px solid $navy-500;
  outline: none;
  box-shadow: none;
}

.card {
  background: white;
  border-radius: $radius;
  box-shadow: $shadow-small;
}

.no-border {
  border: none !important;
}

.status {
  font-size: 12px;
  color: $navy-400;
}

.descriptionLabel {
  margin-right: 10px;
  font-size: 10px;
  color: $grey-50;
}

.badgeLabel {
  padding: 0 5px;
  color: $navy-400;
  background-color: $grey-200;
  border: 1px solid $grey-300;
  font-size: 10px;
  text-transform: uppercase;
}

.dropdown-toggle {
  background-color: $grey-200;
  color: $navy-500;
  border: none;

  &:hover,
  &:focus,
  &:active {
    background-color: $grey-300;
    color: $navy-500;
    border: none;
  }
}

.dropdown-item.active,
.dropdown-item:active {
  color: white;
  background-color: $green-500 !important;
}
