<div class="row py-5 px-4" *ngIf="!isLoading; else spinner">
  <div class="col-12">
    <div class="dashboard card w-100">
      <div class="dashboard__header p-3 ">
        <div class="row w-100 d-flex align-items-center justify-content-between">
          <div class="dashboard__header__details col-8 d-flex align-items-start justify-content-start">
            <div class="pb-3 px-3">
              <img src="../../assets/icons/database.svg" class="icon" />
            </div>
            <div class="pl-3">
              <!-- since no status is returned for the database - assume that DB
              status is the same as Main cluster status -->
              <p class="status m-0">
                {{ (database$ | async)?.mainCluster?.status }}
              </p>
              <h4 class="mb-3">{{ (database$ | async)?.name }}</h4>
              <div class="d-flex align-items-center">
                <span class="dashboard__header__label descriptionLabel text-secondary text-uppercase">AWS Region</span>
                <span class="text-primary">{{
                  (database$ | async)?.region
                }}</span>
              </div>
              <div class="d-flex align-items-center">
                <span class="dashboard__header__label descriptionLabel text-secondary text-uppercase">Used
                  storage</span>
                <span class="text-primary">{{ (database$ | async)?.storage | number }} TB</span>
              </div>
            </div>
          </div>
          <div class="col-auto dashboard__actions" *ngIf="isAdmin">
            <div class="btn-group">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                data-display="static" aria-haspopup="true" aria-expanded="false">
                Actions
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button"
                  *ngIf="(database$ | async)?.mainCluster?.status !== 'stopped'" (click)="stopDatabase()">
                  Stop database
                </button>
                <button class="dropdown-item" type="button"
                  *ngIf="(database$ | async)?.mainCluster?.status === 'stopped'" (click)="startDatabase()">
                  Start database
                </button>
                <button class="dropdown-item" type="button" (click)="openModal(workerClusterModal)"
                  *ngIf="(database$ | async)?.mainCluster?.status !== 'stopped'">
                  Add worker cluster
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- main cluster -->
      <div class="dashboard__row p-3">
        <app-cluster [cluster]="(database$ | async)?.mainCluster" [isMain]="true"></app-cluster>
      </div>
      <!-- worker clusters -->
      <div class="dashboard__row p-3 " *ngFor="let cluster of (database$ | async)?.workerClusters">
        <app-cluster [cluster]="cluster" [isMain]="false"></app-cluster>
      </div>
    </div>
  </div>
</div>

<ng-template #workerClusterModal let-modal>
  <app-add-cluster-modal (onModalClose)="closeModal()"></app-add-cluster-modal>
</ng-template>

<ng-template #spinner>
  <div class="d-flex align-items-center justify-content-center w-100 m-5 p-5">
    <span>Loading...</span>
  </div>
</ng-template>
