@import '_variables.scss';

.dashboard {
  &__header {
    &__label {
      min-width: 90px;
    }
  }

  &__row {
    border-top: 2px solid $grey-300;
  }
}

.icon {
  width: 45px;
}

.status {
  font-size: 12px;
  color: $navy-400;
}

.descriptionLabel {
  margin-right: 10px;
  font-size: 10px;
  color: $grey-50;
}

.badgeLabel {
  padding: 0 5px;
  color: $navy-400;
  background-color: $grey-200;
  border: 1px solid $grey-300;
  font-size: 10px;
  text-transform: uppercase;
}

.clusterSelect {
  &__label {
    font-size: 12px;
  }

  &__value {
    font-size: 16px;
    font-weight: 500;
  }

  &__btn {
    background: $grey-100;
    color: $navy-400;
    border: 1px solid $navy-500;
  }
}
